<nav class="navbar navbar-expand-lg navbar-custom justify-content-end ">

    <!-- <a class="navbar-brand ml-2" (click)="cleanFilters()" routerLink="/home">Home</a> -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <button class="btn btn-outline-dark btn-sm ml-3" (click)="handleModal(newSector)">Crear sector</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-1">
            <li class="nav-item active">
                <a class="nav-link verlistac" role="button" (click)="getAllElements()">Ver lista completa</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input (input)="handleInput($event)" class="form-control mr-sm-2" type="search" placeholder="Buscar item..."
                aria-label="Search">
            <!-- <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button> -->
        </form>
    </div>
    
</nav>


<ng-template #newSector let-modal>
    <div class="reservehead">
        <h4 class="headtitle text-center mt-3">Crear nuevo sector</h4>
    </div>
    <div class="reservebody">

        <form (submit)="createSector()" [formGroup]="sector">
            <ng-container>
                <div class="add_element_modal">
                    <ng-container>
                        <h5 class="text-center">Nombre</h5>
                        <input class="form-control" formControlName="sectorName">
                        <button type="submit" (click)="modal.dismiss('Cross click')"
                            class="btn btn-success mt-2 mb-3 float-right">Crear</button>
                    </ng-container>
                </div>
            </ng-container>
        </form>
    </div>
</ng-template>